body{
    max-width:1000px;
    margin: auto;
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
    <!--background-color:  #c3edd5;-->
    
}

h4{
    font: italic small-caps bolder 28px arial, sans-serif; 
}

div{ 
    
    margin-top:5px; 
    padding: 20px;
   
 
}

.left{
    float: left;
}

.right{
    float: right;
   
}

#image{
    float: left;
    padding: 0px 20px 20px 20px;
}

#identity{
    overflow: auto;
    
} 

#villains{
    text-align: center;
}

#background-image{
    background-image: url( "img/bat_cover.jpg");
    height: 350px;
    padding-top: 50px;
    color: #fff;
    margin-top: 25px;
}

#content{
    background-color: rgba(0,0,0,0.7);
    max-width: 450px;
    padding: 30px 20px;
    margin-top: 50px;
   
}

table{
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
    
}
th,td{
    padding :15px;
    border :1px solid #a4a4a4;
    height: 30px;
}
th{
    text-align: left;
    background-color: #ececec;
}

nav li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
   }
   
   <!--nav li{
       list-style-type: none;
       float: right;
   }
   -->
   li>a{
       display: block;
       color: #666;
       padding: 14px 16px;
       text-decoration: none; 
       float: right;
   }
   
   .logo{
       float: left;
       height: 50px; 
       font-size: 18px;
       line-height: 20px;
       
   }
   
   .header{
       padding: 5px 0px;
       color: #403F3F;
       text-align: center;
       margin: auto;
       border-bottom: 1px solid;
       
   }
   
   @media (min-width:320px){
       .container{
           width: 320px;
       }
   }
   
   @media (min-width:481px){
       .container{
           width: 481px;
       }
   }
   
   @media (min-width:641px){
       .container{
           width: 641px;
       }
   }
   
   @media (min-width:961px){
       .container{
           width: 961px;
       }
   }
   
   @media (min-width:1000px){
       .container{
           width: 1000px;
       }
   }
   
   @media(max-width:1000px){
       .box{
           width: 100%;
       }
       #image{
           width:100%;
       }
       h2{
           text-align: center;
       }
   }
   
   img{
    max-width: 100%; 
    height: auto;
    vertical-align: middle;
}
   .thumbnail {
    display: inline-block;
    height: auto;
    padding: 4px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #a4a4a4;
    text-align: center;
    color: #666;
    margin: 50px;
   }